* {
    font-family: monospace;
}

body {
    margin: 0;
}

main {
    margin: 0 10px;
}

a {
    color: #5f7cff;
}

a:hover {
    text-decoration: none;
}

/* Navbar styles */

#navbar {
    background-color: #5f7cff;
    display: flex;
    margin: 0;
}

.navbar-link {
    color: #ffffff;
    padding: 10px;
    transition: 0.2s ease;
}

.navbar-link:hover {
    text-decoration: none;
    background-color: #00000020;
}

.navbar-link:not(.active):hover {
    border-bottom: #ffffff30 3px solid;
}

.active {
    border-bottom: #ffffff50 3px solid;
}

/* Page styles */

.page-title {
    text-decoration: underline;
    margin: 10px 0;
}

.page-subtitle {
    text-decoration: underline;
}

/* External link styles */

.external-link::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("/assets/img/external-link.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

/* Disclaimer thing styles */

.disclaimer {
    margin: 0 0 50px;
}

/* Note styles */

.note-please {
    background-color: #5f7cff50;
    min-width: 90%;
    padding: 5px;
    display: flex;
    place-items: center;
    margin: auto 0;
    gap: 0.3em;
    flex-wrap: wrap;
}

.note-please::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("/assets/img/info-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    line-height: 20px;
}

#close-note-please {
    float: right;
    width: 20px;
    height: 20px;
}

/* Posts styles */

.post-container {
    border: #000000 1px solid;
    padding: 5px;
}

.post-date {
    font-weight: 700;
    color: #5f7cff;
    font-size: 20px;
}

.post-img {
    width: 30%;
    margin: 0 10px;
    border: #000000 2px solid;
}
